.main {
  margin-top: 5em;
}

.center {
  justify-content: center;
  padding: 10px;
}

.ui.search input {
  width: 100%;
  border-radius: 0 !important;
}

.item {
  display: flex !important;
  justify-content:  space-between;
  /* align-items: center; */
  padding: 15px 0px !important;
  width: 100%;
}
.header{

  margin-left:10px !important ;
}
  i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.content{
  display: flex;
  flex: 3;
  justify-content:  space-around;
  align-items: center;
}

.deleteicon{
  flex: 1;
}